<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" *ngIf="isSingedIn">
        <li><a href="#" class="nav-link px-2">Materias</a></li>
        <li><a href="#" class="nav-link px-2">Calificaciones</a></li>
        <li><a href="#" class="nav-link px-2">Calendario</a></li>
        <li><a href="#" class="nav-link px-2">Preferencias</a></li>
        </ul>
        <div class="col-md-3 text-end" *ngIf="!isSingedIn">
        <button type="button" class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
        <button type="button" class="btn btn-primary" routerLink="/registro">Sign-up</button>
        </div>
    </header>
</div>
