<div class="container">
    <app-header></app-header>
    <h1>Calificaciones Alumnos</h1>
    <a href="#" class="nav-link px-2" routerLink="/calificaciones">NOTAS PERSONALES ACA</a>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
        <thead>
            <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">MATERIA</th>
            <th scope="col">TEMA</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">NOTA</th>
            </tr>
        </thead>
        <tbody *ngFor="let nota of notas">
            <tr>
            <td>{{nota.nombre +" "+ nota.apellido}}</td>
            <td>{{ nota.materia }}</td>
            <td>{{nota.tema}}</td>
            <td>{{nota.descripcion}}</td>
            <td>{{nota.nota}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>